@page "/counter"
@using snowdepth_usergui.Data

<h1>Registrera mätvärde</h1>

<p>När ett mätvärde registreras sparas även tid och plats.</p>

<EditForm Model="@Model" OnValidSubmit="@HandleValidSubmit" OnInvalidSubmit="@HandleInvalidSubmit">
	<div class="alert @StatusClass">@StatusMessage</div>

	<DataAnnotationsValidator />
	<ValidationSummary />

	<div class="form-group">
		<label for="depth">Snödjup (mm): </label>
		<InputNumber Id="depth" Class="form-control" @bind-Value="@Model.Snowdepth"></InputNumber>
		<ValidationMessage For="@(() => Model.Snowdepth)" />
	</div>
	<div class="form-group">
		<label for="depth">Temperatur (°C): </label>
		<InputNumber Id="temperature" Class="form-control" @bind-Value="@Model.TemperatureC"></InputNumber>
		<ValidationMessage For="@(() => Model.TemperatureC)" />
	</div>
	<div class="form-group">
		<label for="comment">Kommentar: </label>
		<InputTextArea Id="comment" Class="form-control" @bind-Value="@Model.Comment"></InputTextArea>
		<ValidationMessage For="@(() => Model.Comment)" />
	</div>
	<button type="submit">Registrera mätvärde</button>

</EditForm>

@code
{
	private string StatusMessage;
	private string StatusClass;

	private Measurement Model = new Measurement();

	protected void HandleValidSubmit()
	{
		//TimeZoneInfo myTimeZone = TimeZoneInfo.FindSystemTimeZoneById("W. Europe Standard Time");
		TimeZoneInfo myTimeZone = TimeZoneInfo.FindSystemTimeZoneById("Europe/Budapest");
		DateTime now = TimeZoneInfo.ConvertTimeFromUtc(DateTime.UtcNow, myTimeZone);

		MeasurementService.SetMeasurementsAsync(Model.Snowdepth.Value);

		StatusClass = "alert-info";

		StatusMessage = now.ToString("yyyy-MM-dd HH:mm") + " - Mätvärdet, plats och tidpunkt sparades korrekt";
	}

	protected void HandleInvalidSubmit()
	{
		TimeZoneInfo myTimeZone = TimeZoneInfo.FindSystemTimeZoneById("Europe/Budapest");
		DateTime now = TimeZoneInfo.ConvertTimeFromUtc(DateTime.UtcNow, myTimeZone);

		StatusClass = "alert-danger";
		StatusMessage = now.ToString("yyyy-MM-dd HH:mm") + " - Mätvärdet misslyckades att sparas";
	}
}